/* BASE */
@import '../css/base/reset.css';
@import '../css/base/variables.css';
@import '../css/base/scroll-lock.css';


/* COMPONENTS */
@import '../css/components/button.css';
/* Thêm dòng này */
@import '../css/components/nav.css';
@import '../css/components/slider.css';
@import '../css/components/sections.css';
@import '../css/components/overview.css';
@import '../css/components/overview-detail.css';

@import '../css/components/cards.css';
@import '../css/components/location.css';

/* Thêm vào main.css */
body {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}